[submodule "odin"]
	path = odin
	url = git@github.com:acgollapalli/odin.git
[submodule "odin-quic"]
	path = net/quic
	url = git@github.com:acgollapalli/odin-quic.git
[submodule "net/ssl"]
	path = net/ssl
	url = git@github.com:acgollapalli/odin-ssl.git
[submodule "odin-http"]
	path = net/http
	url = git@github.com:laytan/odin-http.git
[submodule "ols"]
	path = ols
	url = git@github.com:DanielGavin/ols.git
